*
    margin: 0
    padding: 0

.color-palette
    margin: 0 4px

%shape
    height: 25px
    width: 25px

    margin: 5px 3px

    display: inline-block

    border: .1px solid grey
    border-radius: 25%

.white
    @extend %shape
    
    background-color: white

.yellow
    @extend %shape

    background-color: yellow

.tomato
    @extend %shape

    background-color: tomato

.red
    @extend  %shape

    background-color: red

.green
    @extend  %shape

    background-color: green

.blue
    @extend %shape

    background-color: blue

.purple
    @extend  %shape

    background-color: purple

.black
    @extend  %shape
    
    background-color: black

.custom-color-form
    position: relative
    margin: 0 5px 5px 5px

label
    margin: 0px 5px

    display: inline-block

input
    width: 150px

    display: inline-block
